{% extends "base.html" %}
{% block content %}

<form method="POST">
  <label for="champion" class="form-label">Campeão:</label>
  <select
    name="champion"
    id="champion"
    class="form-select form-select-sm"
    required
  >
    {% for champion in champions %}
    <option value="{{ champion }}">{{ champion }}</option>
    {% endfor %}
  </select>

  <label for="main-rune" class="form-label">Runa Principal:</label>
  <select
    name="main-rune"
    id="main-rune"
    class="form-select form-select-sm"
    required
    onchange="updateSubRunes()"
  >
    {% for main_rune in runas %}
    <option value="{{ main_rune.id }}">
      {{ main_rune.name }}
    </option>
    {% endfor %}
  </select>

  <label>Itens:</label>

  <div id="items-container">
    <select name="items" class="form-select form-select-sm">
      <option value="">Selecione um item</option>
      {% for item in items %}
      <option value="{{ item.name }}">
        {{ item.name }}
      </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Adicionar Build</button>
</form>

<h1>Lista de Builds</h1>
<ul>
  {% for build in builds %}
  <li>
    <strong>{{ build.champion }}</strong><br />
    🏹 <strong>Runas:</strong> {{ build.runes | join(", ") }}<br />
    🛡️ <strong>Itens:</strong> {{ build.items | join(", ") }}
  </li>
  {% endfor %}
</ul>

{% endblock %}
