{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="text-center my-4">Lista de Campeões</h1>
  <div class="row">
    {# Tive que fazer assim pois as info do campeão vem dentro da chave do nome dele #}
    {% for champion_name, champion in champions.items() %}
    <div class="col-md-4 col-lg-3 mb-4">
      <div class="card shadow">
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ champion.id }}_0.jpg" class="card-img-top" alt="{{ champion.name }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ champion.name }}</h5>
          <p class="card-text text-muted">{{ champion.title }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
